[Unit]
Description=SMTPLATRINE - A SMTP Honeypot
DefaultDependencies=no
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
WorkingDirectory=/opt/smtplatrine
ExecStart=/opt/smtplatrine/./smtplatrine
TimeoutStartSec=0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
