* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    height: 100%;
    font-family: sans-serif;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
body { 
    position:relative;
    height: 100%;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #3c373e;

    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    color: rgba(255, 255, 255, 0.5);
}
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #3c373e;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
.content {
    width: 90%;
    padding: 5px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
}
#menu {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.logo {
    background-image: url("/assets/images/smtplatrine_cover.png"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
    width: 270px;
    height: 80px;
    float: left;
    margin-right: 50px;
}
p {
color: rgba(255, 255, 255, 0.5);
font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
a, a:hover {
    text-decoration: none !important; }

h2 {
font-size: 20px;
color: #fff; }
.custom-table {
    min-width: 900px; 
}

fieldset {
    font-family: sans-serif;
    border: 5px solid #1b1e20;
    background: #212529;
    border-radius: 5px;
    padding: 15px;
    width: 800px;
    text-align: center;
}

fieldset legend {
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    color: #bfbfbf;
    border-image: linear-gradient(180deg, #1b1e20, #212529) 1;
    background: rgb(27,30,32);
    background: linear-gradient(180deg, rgba(27,30,32,1) 0%, rgba(38,42,47,1) 70%, rgba(33,37,41,1) 100%);
    padding: 10px;
    font-size: 14pt;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 30px;
    margin-top: -30px;
    display: block;
    margin-left: 90px;
    width: 600px;
    text-align: center;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    padding: 15px;
    font-weight: bold;
    position: absolute;
    top: 40%;
}
.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    text-align: center;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    font-size: 10pt;
    padding: 10px;
    color: #999999;
}

input[type="text"], input[type="password"] {
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #303639;
    color: #fff;
    margin: 2px;
    width: 300px;
}
.form-submit-button:hover {
    text-align: center;
    border-width: 4px;
    border-radius: 5px;
    border-style: solid;
    border-image: linear-gradient(0deg, #1b1e20, #212529) 1;
    color: #bfbfbf;
    background: rgb(33,37,41);
    background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(53,58,61,1) 50%, rgba(33,37,41,1) 100%);
    color: #FFF;
    text-shadow: none;
    height: 50px;
    width: 70%;
}
.form-submit-button {
    text-align: center;
    border-width: 4px;
    border-radius: 5px;
    border-style: solid;
    border-image: linear-gradient(0deg, #1b1e20, #212529) 1;
    color: #bfbfbf;
    background: rgb(33,37,41);
    background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(53,58,61,0.2805497198879552) 50%, rgba(33,37,41,1) 100%);
    text-shadow: none;
    height: 50px;
    width: 70%;
}
label {
    color: #bfbfbf;
    padding-right: 50px;
    text-align: right;
}
.flag {
    -webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.14); 
    box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.14);
    border-radius: 0px;
    width: 25px;
    height: 15px;
}
.faded {
    color: #808080;
}
.topnav {
    float: right;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    width: 80%;
    align-items: right;
}

.topnav a {
float: left;
display: block;
color: #bfbfbf;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #6E1005;
color: #ddd;
}

.topnav a.active {
background-color: #411900;
color: white;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 1650px) {
    .topnav a:not(.active) { display: none; }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@keyframes smooth-appear {
    to {
        height: 482px;
        top: 214px;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
    }
  }

@media screen and (max-width: 1650px) {
.topnav.responsive {
    position: relative;
    top: 200px;
    opacity: 1;
    z-index: 999;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    opacity:1;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
}
}

.main {
    padding: 10px;
    width: 100%;
    background-color: #333;
    border-radius: 15px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    width: 100%;
}

th, td {
    font-weight: unset;
}

th {
    cursor: pointer;
}

.column1 {
text-align: left;
padding-left: 10px;
width: 10%;
}

.column2 {
text-align: left;
width: 15%;
}

.column3 {
text-align: left;
width: 20%;
}

.column4 {
text-align: left;
width: 30%;
}

.column5 {
text-align: center;
width: 5%;
}

.column6 {
text-align: left;
width: 10%;
}

.column7 {
text-align: center;
width: 10%;
}

.table100-head th {
padding-top: 18px;
padding-bottom: 18px;
}

.table100-body td {
padding-top: 6px;
padding-bottom: 6px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
position: relative;
padding-top: 56px;
}

.table100-head {
position: absolute;
width: 100%;
top: 0;
left: 0;
}

.table100-body {
max-height: calc(100vh - 270px);
overflow: auto;
}

/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
background-color: #393939;
}

.table100.ver3 th {
font-weight: bold;
border-top: none;
border-bottom: none !important;
color: #fff;
font-size: 12px;
text-transform: uppercase;
letter-spacing: .2rem;
background-color: #393939;
text-align: center;

}

.table100.ver3 td {
font-size: 14px;
color: #9e9494;
line-height: 1.4;
padding-left: 10px;
}

.table100.ver3 tr {
    background-color: #222222;
}

.table100.ver3 tr:nth-child(even) {
    background-color: #1f1d1d;
}

/*---------------------------------------------*/

.table100.ver3 {
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
right: 5px;
}

.body:hover td, .body:focus td { color: #fff; background-color: #393939;}
.body:hover .more, .body:focus .more { color: #fdd114; }

.showsort i {
    opacity: 1;
}
.hidesort i {
    opacity: 0.2;
}

.clientclick { cursor: pointer; }

.clientdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.clientinfo {
    padding: 15px;
    background-color: #222222; 
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    display: none;
    height: 40%;
    border: 2px solid #fff;
    z-index: 999;
}